.Divv {
    left: 500px;
    top: 250px;
    position: absolute;
    width: 350px;
    text-align: center;
    height: 30px;
    font-size: 30px;
    font-family: 'Inconsolata', monospace;
    background-color: rgb(129, 193, 252);
    border: 2px dotted #1f2b63;
}

.Tekst {
    font-size: 40px;
    margin: 15px;
    font-family: 'Pacifico', cursive;
}